{
    "presets": [
        /*["env", {*/
            /*"targets": {*/
                /*[>"edge": "12"<]*/
                /*"chrome": "60"*/
            /*}*/
        /*}]*/
        /*["env"]*/
    ],
    "plugins": ["syntax-dynamic-import"]
}

