<span class="title">
    {{title}}
</span>

<ul class="list.flag-icon-background.flag-icon-cn">
    {{#each items}}
        <li>
            <a href="{{this.href}}">{{this.text}}</a>
        </li>
    {{/each}}
</ul>
